/* TITLE (h1) */
.post-single .post-title, 
.list .post-title,
.list .entry-title,
.list .page-title,
.list .post-header .post-title {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

.list .entry-header h2,
.list .entry-header h2 a {
  font-family: 'Playfair Display', serif;
  font-weight: 600;
}

/* SUBTITLE / DESCRIPTION */
.post-single .post-description, 
.list .post-description {
  font-family: 'Noto Serif Display', serif;
  font-weight: 400;
  font-style: italic;
}

/* Move article title lower */
.post-single .post-header .post-title, 
.list .post-header .post-title {
  margin-top: 3rem;   /* adjust value as needed */
}

/* less margins on h1 */
.post-content h1,
.list .post-content h1 {
    margin: 20px auto 20px;
}

/* SECTION HEADINGS */
.post-single .post-content h2,
.post-single .post-content h3,
.post-single .post-content h4,
.post-single .post-content h5,
.list .post-content h2,
.list .post-content h3,
.list .post-content h4,
.list .post-content h5 {
  font-family: 'Noto Serif Display', serif;
  font-weight: 600;
  margin-top: 1em;    /* space above heading */
  margin-bottom: 0em; /* space below heading */
}

/* POST BODY */
.post-single .post-content,
.list .post-content {
  font-family: 'Noto Serif', serif;
  font-weight: 400;
}

.post-single .post-content p,
.list .post-content {
  text-align: justify;
  text-justify: inter-word;
  hyphens: auto;
  line-height: 1.7;
  margin: 1em 0;
}

/* Empty space between lines */
.post-content p:empty,
.list .post-content p:empty,
.entry-content p:empty {
  margin: 1em 0; /* ensures empty lines have space */
}

/* Empty spaec between lines*/
.post-content p,
.list .post-content p,
.entry-content p {
  margin-top: 1em;    /* space above paragraph */
  margin-bottom: 1em; /* space below paragraph */
  line-height: 1.7;   /* vertical spacing between lines */
}

/* Block quotes */
.post-single .block-quote,
.list .block-quote {
  margin: 1.2em 0;     /* same spacing as paragraphs */
  padding-left: 3em;   /* indent */
  font-style: italic;  /* Italic */ 
}

/* Set font in list items */
.list .entry-content,
.list .entry-content p {
  font-family: 'Noto Serif', serif;  /* replace with your font */
  font-weight: 400;                  /* normal weight */
  line-height: 1.7;                  /* spacing between lines */
  margin: 1em 0;                      /* spacing between paragraphs */
}

/* content margins */
.post-content,
.entry-content {
  margin-left: auto;
  margin-right: auto;
}
